@import "tailwindcss";

@theme {
	--color-brand-primary: #3e43f0;
	--color-brand-secondary: #e54b4f;
	--color-brand-white: #f6f7eb;
	--color-brand-black: #353535;
	--color-brand-gray: #e5e5da;
}

@layer base {
	body {
		@apply text-brand-primary;
		@apply text-sm;
		font-family: "Geist Mono", "Inter", sans-serif;
	}

	body {
		@apply bg-brand-white;
	}

	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-base;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	.focus\:not-sr-only:focus {
		position: static;
		width: auto;
		height: auto;
		padding: inherit;
		margin: inherit;
		overflow: visible;
		clip: auto;
		white-space: normal;
	}
}
